Data/*
!Data/patch-A.MPQ
!Data/patch-B.MPQ
!Data/patch-C.MPQ
!Data/patch-F.mpq
!Data/patch-Z.mpq
!Data/patch-I.mpq

*.dll
*.exe
!Patcher.exe
!GitAddonsManager.exe
*.wtf

Documentation
Logs

Interface/AddOns/Blizzard_AuctionUI
Interface/AddOns/Blizzard_BattlefieldMinimap
Interface/AddOns/Blizzard_BindingUI
Interface/AddOns/Blizzard_CombatText
Interface/AddOns/Blizzard_CraftUI
Interface/AddOns/Blizzard_GMSurveyUI
Interface/AddOns/Blizzard_InspectUI
Interface/AddOns/Blizzard_MacroUI
Interface/AddOns/Blizzard_RaidUI
Interface/AddOns/Blizzard_TalentUI
Interface/AddOns/Blizzard_TradeSkillUI
Interface/AddOns/Blizzard_TrainerUI
Interface/AddOns/LFT

!GitAddonsManager/**/*.dll
!GitAddonsManager/**/*.exe